/*tamanho padrao para tablets*/
@media only screen and (max-width:830px){
    html{
        width: device-width;
    }
    .header{
 
    }
    .header-black ul{
        display: none;
    }
    #menu {
        margin-top: 40px;
        margin-left: -290px;

    }
    #menu li a {
        
    }
    #banner{
        background-image: url("../png/foto1.jpg"); 

    }
    
    #banner h1{
        text-align: center;
        margin-left: 15px;
    }
    #noticias{
        margin-left: 50px;
    }
    h2{
        text-align: center;
        margin-left: 50px;
    }
    #noticias hr{
        margin-left: 260px;
    }

    footer .escudo {
        display: none;
    
    }
    
    

}

/*tamanho padrao para celulares*/
@media only screen and (max-width:480px){
    .header-black ul{
        display: none;
    }
}